/* styles.css */
  .English {
    font-family: 'Cursive', 'Times New Roman', Times, serif;
}

.line-1 {
    transform: translate(0, -10px);
  }
  
  .line-2 {
    transform: translate(0, 10px);
  }
  
  .toggleButon[aria-expanded="true"] > .line-1 {
    transform: translate(0, 0) rotate(-45deg);
  }
  
  .toggleButon[aria-expanded="true"] > .line-2 {
    transform: translate(0, 0) rotate(45deg);
  }

  .navigation {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5rem 2rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    background-color: white;
  }
  
  .navigation[aria-hidden="false"] {
    display: flex;
  }


/* style.css */

.fixed-top-right {
    position: fixed;
    z-index: 9999;
    top: 1rem;  /* 画面の上端からの距離 */
    right: 1rem; /* 画面の右端からの距離 */
    width: auto;
    height: auto;
    padding: 10px; /* 画像より少し大きい背景を作るためのパディング */
    background-color: rgba(0, 0, 0, 0.5); /* 半透明の黒 */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    border: 1px solid #000;
  }
  
  .icon-image {
    width: 50px; /* 画像の幅 */
    height: 50px; /* 画像の高さ */
    display: block; /* 画像をブロック要素として表示 */
    margin: 0 auto; /* 中央に配置 */
  }
  